<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="/common/backstage::backstage_head"></head>

<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div th:replace="common/backstage::baskstage_header" class="layui-header"></div>
    <div th:replace="common/backstage::baskstage_side" class="layui-side layui-bg-black"></div>
    <!-- 内容主体区域 -->
    <div class="layui-body">
        <!--表头上的按钮-->
        <script type="text/html" id="articleToolBar">
            <div class="layui-btn-container">
                <button class="layui-btn layui-btn-sm" lay-event="addArticle">新增</button>
                <button class="layui-btn layui-btn-sm" lay-event="mulDelete">删除</button>
                <button class="layui-btn layui-btn-sm" id="siteTitlePage" lay-event="siteTitlePage">设置封面</button>
            </div>
        </script>

        <table class="layui-hide" id="articleListTable" lay-filter="articleFilter"></table>
        <!--表中的操作按钮-->
        <script type="text/html" id="operateArticle">
            <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
            <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
        </script>
    </div>
    <div th:replace="common/backstage::baskstage_footer" class="layui-footer"></div>
</div>

<script type="text/html" id="switchPublish">
    <input type="checkbox" name="publish" value="{{d.id}}" lay-skin="switch" lay-text="发布|保存" {{ d.isPublish == true ? 'checked' : '' }} lay-filter="publishFilter" >
</script>

<div th:replace="common/backstage::backstage_js"></div>
<script type="text/javascript" th:src="@{/blog/js/articleList.js}" ></script>
</body>
</html>