<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="common/common_head::common_header">
</head>
<style type="text/css">
    .index_main{
        width: 100%;
        height: 100%;
    }
    .layui-nav{
        width: 100%;
    }
    .title_name {
        position: relative;
        font-size: 28px;
        width: 140px;
        left: 48px;
        top: 9px;
        margin-right: 140px;
        float: left;
    }
</style>
<body>
<div id="index_main" class="index_main">
    <ul class="layui-nav">
        <!--<li class="layui-nav-item">-->
            <div class="title_name">ykb的博客</div>
        <!--</li>-->
        <li class="layui-nav-item">
            <a href="">控制台<span class="layui-badge">9</span></a>
        </li>
        <li class="layui-nav-item">
            <a href="">个人中心<span class="layui-badge-dot"></span></a>
        </li>
        <li class="layui-nav-item">
            <a href=""><img th:src="@{/common/img/head.jpg}" class="layui-nav-img">我</a>
            <dl class="layui-nav-child">
                <dd><a href="javascript:;">修改信息</a></dd>
                <dd><a href="javascript:;">安全管理</a></dd>
                <dd><a href="javascript:;">退了</a></dd>
            </dl>
        </li>
    </ul>
</div>


</body>
<div th:include="common/common_head::common_js"></div>
<script>
    $(function () {

    });

    //初始化layui
    function initLayui(){
        ;!function(){
            //无需再执行layui.use()方法加载模块，直接使用即可
            var form = layui.form
                ,layer = layui.layer;
        }();
    }
</script>
</html>