<!DOCTYPE html>
<!-- 设置响应式布局 以适应不同分辨率 -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="common/common_head::common_header"></head>
<link th:href="@{/common/css/index.css}" rel="stylesheet">
<body class="index_body">
<div id="index_main" class="index_main">
    <div class="navbar navbar-default index-head" role="navigation">
        <div class="navbar-header">
            　<!-- .navbar-toggle样式用于toggle收缩的内容，即nav-collapse collapse样式所在元素 -->
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                <span class="sr-only">Toggle Navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!-- 确保无论是宽屏还是窄屏，navbar-brand都显示 -->
            <a href="##" class="navbar-brand">ykb`blog</a>
        </div>
        <!-- 屏幕宽度小于768px时，div.navbar-responsive-collapse容器里的内容都会隐藏，显示icon-bar图标，当点击icon-bar图标时，再展开。屏幕大于768px时，默认显示。 -->
        <div class="collapse navbar-collapse navbar-responsive-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="##"><span class="glyphicon glyphicon-home"></span> 首页</a></li>
                <li><a href="##"><span class="glyphicon glyphicon-align-right"></span> 系列</a></li>
                <li><a href="##"><span class="glyphicon glyphicon-info-sign"></span> 介绍</a></li>
                <li><a href="##"><span class="glyphicon glyphicon-send"></span> 案例</a></li>
                <li><a href="##"><span class="glyphicon glyphicon-stats"></span> 关于</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/system/user/list">后台管理</a></li>
                <li><a href="/login">登录</a></li>
            </ul>
        </div>
    </div>
    <!-- 主要内容开始 -->
    <!--<div class="center_main">-->
    <!--公告-->
    <div class="index-notice">
        <span class="glyphicon glyphicon-bullhorn"></span>
            公告：<a>每一个不曾起舞的日子，都是对生命的辜负</a>

    </div>
    <!--右侧信息列-->
    <div class="rightLine">
        <!--本周热点-->
        <div class="rightLineInfo">
            <div class="lineIfo-top">
                <span class="glyphicon glyphicon-fire" style="color: rgb(249, 49, 0); font-size: 14px;"></span>
                本周热点
            </div>
            <hr/>
            <div class="lineIfo">● Spring Boot构建多租户SaaS平台指南</div>
            <div class="lineIfo">● Mozilla和扎克伯格夫妇资助Python</div>
            <div class="lineIfo">● Maven发布封装到中央仓库时报错</div>
        </div>

        <!--热门排行-->
        <div class="rankInfo rightLineInfo">
            <div class="lineIfo-top">
                <span class="glyphicon glyphicon-fire" style="color: rgb(249, 49, 0); font-size: 14px;"></span>
                热门排行
            </div>
            <hr/>
            <div class="lineIfo"><span class="label label-danger">1</span> 推荐一款让你纵横Github的读码神器</div>
            <div class="lineIfo"><span class="label label-warning">2</span> 再不努力提高效率，小姐姐都被追走了</div>
            <div class="lineIfo"><span class="label label-success">3</span> 为什么我建议大家将原创文章分发</div>
            <div class="lineIfo"><span class="label label-default">4</span> 复仇者联盟与IntelliJ IDEA也很配哦~</div>
            <div class="lineIfo"><span class="label label-default">5</span> Java开发神器Lombok的使用与原理</div>
        </div>
    </div>
    <!-- 轮播图 -->
    <div class="rotation_chart">
        <div class="swiper-container">
            <div class="swiper-wrapper" id="container">
            </div>
            <!-- 分页器 -->
            <div class="swiper-pagination"></div>
            <!-- 导航按钮 -->
            <!--<div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>-->
        </div>
    </div>
    <!-- 卡片集 -->
    <div class="cards">
        <div class="card_main" >
            <div class="card_bg">
                <p>
                    <span class="glyphicon glyphicon-tag" style="color: rgb(174, 188, 135); font-size: 14px;">Python</span>
                    大厂在用的反爬虫手段，破了它！
                </p>
                <img src="/common/img/article/timthumb.png">
                <div class="card-content">
                    内容选自即将出版的《Python3 反爬虫原理与绕过实战》，本次公开书稿范围为第 6 章——文本混淆反爬虫。本篇为第 6 章中的第 3 小节，第 4 小节字体反爬虫已发布，其余小节将逐步放送。 新书福利 真是翘首以盼！《Python3 反爬虫原理与绕过实战》一书终于要跟大家见面了...
                </div>
                <div class="card-bottom">
                    <span class="glyphicon glyphicon-user" style="color: rgb(162, 179, 191); font-size: 14px;"></span> 崔庆才
                    <span class="glyphicon glyphicon-calendar" style="color: rgb(162, 179, 191); font-size: 14px;"></span> 2019-10-10
                    <span class="glyphicon glyphicon-eye-open" style="color: rgb(162, 179, 191); font-size: 14px;"></span> 243
                </div>
            </div>
        </div>
        <div class="card_main">
            <div class="card_bg">
                <p>
                    <span class="glyphicon glyphicon-tag" style="color: rgb(174, 188, 135); font-size: 14px;"></span>
                </p>
                <img src="">
                <div class="card-content">

                </div>
                <div class="card-bottom">
                    <span class="glyphicon glyphicon-user" style="color: rgb(162, 179, 191); font-size: 14px;"></span>
                    <span class="glyphicon glyphicon-calendar" style="color: rgb(162, 179, 191); font-size: 14px;"></span>
                    <span class="glyphicon glyphicon-eye-open" style="color: rgb(162, 179, 191); font-size: 14px;"></span>
                </div>
            </div>
        </div>
        <div class="card_main">
            <div class="card_bg">
                <p>
                      简评：一开始 JavaScript 只是为网页增添一些实时动画效果
                </p>
            </div>
        </div>
    </div>
    <!--右侧栏-->
    <div class="rightMode">
        <div class="index-img-wx">
            <img src="/common/img/wx.jpg">
        </div>
        <div class="wx-text">
            <a>微信</a>
        </div>
        <div class="index-img-qq">
            <img src="/common/img/qq.jpg">
        </div>
        <div class="qq-text">
            <a>QQ</a>
        </div>

        <!--分割线 两头渐变透明-->
        <hr/>
        <hr style="filter: alpha(opacity=100,finishopacity=0,style=2)" width="80%" color="#6f5499" size="10"/>

        <div class="right-mode-text">
            <a>人大学院 | 罗书贤</a>
            <a>扫码关注，获取更多技术资讯</a>
            <a>lsx@ykb.com</a>
        </div>
    </div>
    <div class="footer">
        <div>
            这是一个公共的底部<br>
            邮箱：yinkebao@hztianque.com<br>
        </div>
    </div>
    </div>

<!--</div>-->
<div style="float:right;" id="hub_iframe"></div>
<script type="text/javascript" color="220,246,245" opacity='0.7' zIndex="-2" count="100" src="canvas-nest.js"></script>
<!-- bootstrap说js引用放在body结束标签上面 可以提高网页性能 -->
<div th:include="common/common_head::common_js"></div>
</body>

<script type="text/javascript" color="10,105,133" opacity='0.7' zIndex="-2" count="100" th:src="@{/common/js/index.js}" ></script>
</html>