<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="common/common_head::common_header"></head>
<link th:href="@{/blog/css/viewArticle.css}" rel="stylesheet">
<link th:href="@{/webjars/bootstrap-switch/4.0.0-alpha.1/dist/css/bootstrap-switch.css}"
      rel="stylesheet">

<body class="index_body">
<!--index_main_start-->
<div class="index_main">
  <!--导航栏-->
  <div th:replace="common/common_head::navigate"></div>
  <!-- 主要内容开始 -->
  <div class="article_main">
    <div class="article_title">
      <p>[[${article.title}]]</p>
    </div>

    <div class="article_source">
      <div class="article_author">
        <span class="label label-success">[[${article.source == 0 ? '原创' : '转载'}]]</span>
        <span class="glyphicon glyphicon-user" style="color: rgb(162, 179, 191); font-size: 14px;"></span>
        [[${article.originalAuthor == null ? article.author.nickName : article.originalAuthor}]]
      </div>
      <div class="article_publishDate">
        <span class="glyphicon glyphicon-calendar" style="color: rgb(162, 179, 191); font-size: 14px;"></span>
        [[${#dates.format(article.publishDate,"yyyy-MM-dd")}]]
      </div>
    </div>

    <!--签名-->
    <div class="article_sign">
      <div class="sign_content">每一个不曾起舞的日子，都是对生命的辜负 <div class="sign_author">--- 胖胖罗</div></div>
    </div>
    <div class="article_content">

    </div>

    <div class="endTag">
      <span class="label label-success">完</span>
    </div>

    <div class="endDirections">
      <ul>
        <li>
          <strong>本文作者：</strong>
          <span>[[${article.originalAuthor == null ? article.author.nickName : article.originalAuthor}]]</span>
        </li>
        <li>
          <strong>版权说明：</strong>
          <span>本博客所有文章除特别声明外,转载请署名作者且注明文章出处</span>
        </li>
      </ul>
    </div>

    <div class="comment_area">
      <textarea id="comment_content" rows="3" placeholder="快来评论吧。。"></textarea>
    </div>

    <div class="comment_button">
      <button id="article_comment" class="article_comment">
        发表评论
      </button>
    </div>

    <!--评论列表-->
    <div class="comment_list" id="comment_list">
      <hr style="margin: 30px 0; color: #f39df7">
      <div class="comment_total"><span class="glyphicon glyphicon-th-list"></span> 全部评论（<span id="comment_num">8</span>）</div>
      <div class="comment_ul" id="comment_ul">
        <div class="comment_li">
          <div class="comment_title">
            <span class="comment_name">胖胖罗</span>
            <span class="comment_index">#2楼</span>
            <span class="comment_time">2020-02-11 12:21</span>
          </div>
          <div class="comment_content">

          </div>
          <div class="comment_info">
            <a><span class="layui-icon layui-icon-praise"></span></a> <a class="comment_zan">1人赞 </a>
            <a><span class="layui-icon layui-icon-reply-fill" style="color: rgba(91,141,107,0.48);"></span></a>
            <a class="comment_zan">回复</a>
          </div>

          <!-- 回复评论 -->
          <div class="comment_reply_list">
            <div class="comment_reply_li">
              <div class="comment_reply">
                <span class="replay_name">胖胖罗:  &nbsp;@胖胖罗</span>
                <span class="replay_content"> 第三方胜多负少的</span>
              </div>
              <div class="reply_time">
                <span class="">2020-10-12 20:22</span>
                <a><span class="layui-icon layui-icon-reply-fill" style="color: rgba(91,141,107,0.48);"></span></a>
                <a class="">回复</a>
              </div>
              <hr/>
            </div>
            <div class="comment_reply_li">
              <div class="comment_reply">
                <span class="replay_name">胖胖罗:  &nbsp;@胖胖罗</span>
                <span class="replay_content"> 第三方胜多负少的</span>
              </div>
              <div class="reply_time">
                <span class="">2020-10-12 20:22</span>
                <a><span class="layui-icon layui-icon-reply-fill" style="color: rgba(91,141,107,0.48);"></span></a>
                <a class="">回复</a>
              </div>
              <hr/>
            </div>
            <div class="new_comment_reply">
              <a><span class="glyphicon glyphicon-edit"></span><a> 添加新评论</a></a>
            </div>
            <div class="add_comment" id="add_comment">
              <textarea id="add_comment_content" placeholder="写下你的评论..."></textarea>
              <div class="comment_operate">
                <a class="apply_comment">确认</a>
                <a class="cancel_comment" onclick="closeComment('add_comment')">取消</a>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>

  <input type="text" id="inputContent" hidden th:value="${article.content}"/>
  <input type="text" id="comment_articleId" hidden th:value="${article.id}"/>

  <div th:replace="common/common_head::common_footer"></div>
</div>
<div th:include="common/common_head::common_js"></div>
</body>
<script type="text/javascript"
        th:src="@{/blog/js/viewArticle.js}"></script>
</html>
