.editor-main {
  /*border: 1px solid #ccc;*/
  width: 100%;
  height: 100%;
}

.editor-top{
  float: left;
  width: 98%;
  position: relative;
  left: 1%;
  height: 10%;
}

.editor-title{
  float: left;
  width: 80%;
  height: 65%;
  margin: 1% 0px 0px 0%;
  background-color: #F8F8F8;
}

.editor-button{
  float: left;
  height: 65%;
  width: 8%;
  margin: 1% 0px 0px 2%;
  background-color: #ccc;
}

#editor_submit{
  background-color: #2196f3c9;
}

.w-e-toolbar{
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  position: relative;
  width: 98%;
  left: 1%;
}

.w-e-text-container{
  border: 1px solid #ccc;
  border-top: none;
  z-index: 10000;
  position: relative;
  width: 98%;
  height: 85%!important;
  left: 1%;
}

/* 响应式布局 */
/** iPad pro **/
@media only screen and (min-width: 1024px) and (max-width: 1366px) {

}
/** iPad **/
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .editor-top{
    height: 6%;
  }

  .editor-title{
    width: 70%;
    height: 65%;
    margin: 0 0px 0px 0%;
  }

  .editor-button{
    height: 61%;
    width: 13%;
    margin: 0 0px 0px 2%;
    padding: 0 0 0 0!important;
  }
}

/** iPhone **/
@media only screen and (min-width: 320px) and (max-width: 767px) {}
/** 手机*/
@media screen and (max-width: 980px) {
  .editor-top{
    height: 6%;
  }

  .editor-title{
    width: 70%;
    height: 65%;
    margin: 0 0px 0px 0%;
  }

  .editor-button{
    height: 61%;
    width: 13%;
    margin: 0 0px 0px 2%;
    padding: 0 0 0 0!important;
  }

  .w-e-toolbar{
    flex-wrap: wrap;
  }
}