.layui-nav{
    /*position: fixed;*/
    /*top: 0;*/
    width: 100%;
    /*z-index: 999;*/
}
.title_name {
    position: relative;
    font-size: 24px;
    width: 140px;
    left: 64px;
    top: 14px;
    margin-right: 140px;
    float: left;
    z-index: 9999;
}
.center_main{
    /*position: fixed;*/
    width: 72%;
    overflow-x: hidden;
    overflow-y: auto;
    float: left;
    /*border: solid 1px silver;*/
    margin-left: 14%;
    margin-top: 1.5%;
}

.index-notice{
    height: 6%;
    background: white;
    width: 86%;
    position: relative;
    left: 7%;
    margin: 0 0 10px 10px;
    padding: 0.6% 0 0 19%;
    box-shadow: 0 2px 5px 0 rgba(33, 22, 22, 0.2), 0 2px 10px 0 rgba(0,0,0,0.12);
    border-radius: 2px;
}

.rotation_chart{
    width: 45%;
    height: 48%;
    /*border: solid 1px silver;*/
    margin: 10px;
    float: left;
    position: relative;
    left: 7%;
    padding: 10px;
    background: white;
    box-shadow: 0 2px 5px 0 rgba(33, 22, 22, 0.2), 0 2px 10px 0 rgba(0,0,0,0.12);
    border-radius: 3px;
}
.swiper-container{
    width: 100%;
    height: 100%;
}
.swiper-slide span{
    position: absolute;
    bottom: 40%;
    text-align: center;
    width: 100%;
    height: auto;
}

.rightLine{
    width: 20%;
    height: 60%;
    /* border: solid 1px silver; */
    float: left;
    position: relative;
    /* background: white; */
    left: 7%;
    margin: 10px;
}

.rightLine a{
    text-decoration: none;
}

.rightLine a:hover{
    color: #1a6681
}

.rightLineInfo{
    padding: 10px;
    width: 100%;
    height: 62%;
    position: relative;
    float: left;
    overflow: auto;
    background: white;
    margin: 0 0 15px 0;
    border-radius: 3px;
    box-shadow: 0 2px 5px 0 rgba(33, 22, 22, 0.2), 0 2px 10px 0 rgba(0,0,0,0.12);
}
.rankInfo{
    height: 70%;
}
.lineIfo-top{
    height: 12%;
    width: 95%;
    padding-top: 10px;
    margin: 3px 0 0px 5px;
    padding-left: 10px;
}
.lineIfo{
    height: 14%;
    width: 95%;
    padding-top: 10px;
    margin: 3px 0 0px 5px;
    padding-left: 10px;
}
.rankInfo .lineIfo{
     height: 14%;
 }
.rankInfo .lineIfo-top{
    height: 8%;
}
.cards{
    width: 45%;
    float: left;
    overflow: auto;
    /*border: solid 1px silver;*/
    margin-left: 10px;
    position: relative;
    left: 7%;

}
.card_main{
    overflow: auto;
    margin: 10px 0 5px 0;
    float: left;
    height: 66%;
    width: 100%;
    padding: 15px;
    /*border: solid 1px silver;*/
    box-shadow: 0 2px 5px 0 rgba(33, 22, 22, 0.2), 0 2px 10px 0 rgba(0,0,0,0.12);
    background: white;
    border-radius: 3px;
    line-height: 24px;
    font-family: monospace;
}
.card_bg{
    /*background-image :url("../img/head.jpg");*/
    /*background-repeat: no-repeat;*/
    height: 100%;
    width: auto;
    max-width: 100%;
    background-size: cover; /* 重点二 */
}
.card_img p {
    text-align: center;
    color: #0C0C0C;
    font-size: 14px;
    font-weight: 600;
    padding: 10% 10% 10% 10%;
}
.card_main img{
    float: left;
    width: 30%;
    height: 68%;
    overflow: hidden;
    padding: 10px;
}
.card-content{
    width: 68%;
    float: left;
    padding: 10px;
}
.card-bottom{
    width: 100%;
    float: left;
    height: 15%;
    padding: 10px;
    text-align: right;
}
.card-bottom span{
    padding: 0px 3px 0px 10px;
}

/*右侧内容*/
.rightMode{
    width: 18%;
    float: right;
    position: relative;
    top: -49.4%;
    right: 6.5%;
}

/*关注我*/
.attention_me{
    top: 0;
    width: 98%;
    /*position: relative;*/
    float: right;
    height: 100%;
    background: white;
    box-shadow: 0 2px 5px 0 rgba(33, 22, 22, 0.2), 0 2px 10px 0 rgba(0,0,0,0.12);
    border-radius: 3px;
    padding: 0 0 10% 0;
}

.index-img-wx{
    width: 70%;
    height: 32%;
    overflow: hidden;
    padding: 10px;
    margin: 10px 0px 0 15%;
}
.index-img-qq{
    width: 70%;
    height: 32%;
    overflow: hidden;
    padding: 10px;
    margin: 10px 0px 0 15%;
}
img{
    width: 100%;
    height: 100%;
}
.attention_me a{
    margin: 3px 0px 0px 0;
    width: 100%;
    height: 20px;
    text-align: center;
    float: left;
}

/*猜你喜欢*/
.recommend{
    width: 98%;
    position: relative;
    float: right;
    height: 98%;
    background: white;
    box-shadow: 0 2px 5px 0 rgba(33, 22, 22, 0.2), 0 2px 10px 0 rgba(0,0,0,0.12);
    border-radius: 3px;
    margin: 6% 0 0 0;
    padding: 0 0 10% 0;
}

/*广告*/
.ad{
    width: 98%;
    position: relative;
    float: right;
    height: 98%;
    background: white;
    box-shadow: 0 2px 5px 0 rgba(33, 22, 22, 0.2), 0 2px 10px 0 rgba(0,0,0,0.12);
    border-radius: 3px;
    margin: 4% 0 0 0;
    padding: 0 0 1% 0;
}

/*广告图片*/
.ad-img{
    background: white;
    box-shadow: 0 2px 5px 0 rgba(33, 22, 22, 0.2), 0 2px 10px 0 rgba(0,0,0,0.12);
    border-radius: 3px;
    padding: 3% 3% 3% 3%;
    width: 98%;
    position: relative;
    float: right;
    height: 98%;
    margin: 4% 0 0 0;
}

/* 响应式布局 */
/** iPad **/
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .rightMode{
        height: 58%;
        top: -43.2%;;
    }
    .index-img-wx,.index-img-qq{
        height: 26%;
    }
    .rotation_chart{
        height: 42%;
    }
}

/** iPhone **/
@media only screen and (min-width: 320px) and (max-width: 767px) {}
/** 手机*/
@media screen and (max-width: 980px) {
    .index-notice{
        width: 100%;
        left: 0;
        margin: 0 0 0 0;
        padding: 2.5% 0 0 3%;
    }
    .rightLine{
        display: none;
        width: 98%;
        left: 1%;
        margin: 0 0 0 0;
    }
    .center_main{
        /*position: fixed;*/
        border: 0;
        width: 98%;
        margin-left: 0;
    }
    .rotation_chart{
        width: 98%;
        left: 1%;
        margin: 10px 0 0 0;
        height: 220px;
    }
    .cards{
        width: 98%;
        left: 1%;
        margin: 0 0 0 0;
        /*border: 0;*/
    }
    .card_img{
        overflow: hidden;
        margin: 4px 0 4px 0;
        float: left;
        height: 230px;
        width: 100%;
        border: 0;
    }
    .title_name{
        left: 30%;
    }

    .rightMode{
        display: none;
    }
}
