<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.es.hfuu.plugin.user.mapper.UserMapper">

    <sql id="sql_com">
        id,nickName,userName,password,phone,birthDay,email,headerUrl,lastLoginTime,lastLoginIp,previousLoginTime,
        previousLoginIp,failureTimes
    </sql>

    <insert id="saveUser" parameterType="com.es.hfuu.plugin.user.domain.User">
        
    </insert>
    <update id="updateUser">

    </update>
    <update id="updateUserStatusByLock">

    </update>
    <update id="updateUserStatusByShutDown">

    </update>
    <update id="updateUserByPassword">

    </update>
    <select id="getSimpleUserById" resultType="com.es.hfuu.plugin.user.domain.User">

    </select>
    <select id="getFullUserById" resultType="com.es.hfuu.plugin.user.domain.User">

    </select>
    <select id="getSimpleUserByUserName" parameterType="java.lang.String" resultType="com.es.hfuu.plugin.user.domain.User">
        select * from users where userName = #{userName}
    </select>
</mapper>