<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.es.hfuu.plugin.blog.mapper.ArticleMapper">
    <!--Article映射-->
    <resultMap id="articleResult" type="Article">
        <result column="id" property="id" />
        <result column="create_user" property="createUser" />
        <result column="create_date" property="createDate" />
        <result column="update_user" property="updateUser" />
        <result column="update_date" property="updateDate" />
        <result column="is_deleted" property="deleted" />
        <result column="title" property="title" />
        <result column="author_id" property="authorId" />
        <result column="original_author" property="originalAuthor" />
        <result column="content" property="content" />
        <result column="blog_type_id" property="blogTypeId" />
        <result column="source" property="source" />
        <result column="source_url" property="sourceUrl" />
        <result column="view_times" property="viewTimes" />
        <result column="collect_times" property="collectTimes" />
    </resultMap>

    <!--表字段-->
    <sql id="sql_com">
        id,title,author_id,original_author,content,blog_type_id,source,source_url,view_times,
        collect_times,is_deleted,create_user,create_date,update_user,update_date
    </sql>

    <!-- 获取列表 -->
    <select id="listEntitiesForPageListByEntity" parameterType="ArticleVO" resultMap="articleResult">
        select <include refid="sql_com"/> from article
        <where>
            <if test="title != null and title != ''">
                title like #{title} '%'
            </if>
            <if test="source != null ">
                and source = #{source}
            </if>
            <if test="blogTypeId != null ">
                and blog_type_id = #{blogTypeId}
            </if>
        </where>
    </select>

    <!--新增-->
    <insert id="saveEntity" parameterType="article">
        INSERT INTO article (<include refid="sql_com"/>)
        VALUES (
            #{id},#{title},#{authorId},#{originalAuthor},#{content},#{blogTypeId},#{source},#{sourceUrl},
            #{viewTimes},#{collectTimes},#{deleted},#{createUser},#{createDate},#{updateUser},#{updateDate}
        )
    </insert>

    <!--修改-->
    <update id="updateEntity" parameterType="article">
        UPDATE article
        <set>
            <if test="title != null"> title= #{title},</if>
            <if test="authorId != null"> author_id= #{authorId},</if>
            <if test="originalAuthor != null"> original_author= #{originalAuthor},</if>
            <if test="content != null"> content= #{content},</if>
            <if test="blogTypeId != null"> blog_type_id= #{blogTypeId},</if>
            <if test="source != null"> source= #{source},</if>
            <if test="sourceUrl != null and sourceUrl != ''"> source_url= #{sourceUrl},</if>
            <if test="updateUser != null and createUser != ''"> update_user= #{updateUser},</if>
            <if test="updateDate != null"> update_date= #{updateDate}</if>
        </set>
        WHERE id = #{id}
    </update>

    <!--根据文章Id获取文章信息-->
    <select id="getSimpleArticleById" resultMap="articleResult">

    </select>
</mapper>

