<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.es.hfuu.plugin.user.mapper.UserMapper">

    <sql id="sql_com">
        id,nick_name,user_name,password,phone,birth_day,email,header_url,last_login_time,last_login_ip,previous_login_time,
        previous_login_ip,failure_times,admin,is_enabled,is_lock,is_deleted,create_user,create_date,update_user,update_date
    </sql>

    <!-- user映射 -->
    <resultMap id="userResult" type="User">
        <result property="id" column="id" />
        <result property="nickName" column="nick_name" />
        <result property="userName" column="user_name" />
        <result property="password" column="password" />
        <result property="phone" column="phone" />
        <result property="birthDay" column="birth_day" />
        <result property="email" column="email" />
        <result property="headerUrl" column="header_url" />
        <result property="lastLoginTime" column="last_login_time" />
        <result property="lastLoginIp" column="last_login_ip" />
        <result property="previousLoginTime" column="previous_login_time" />
        <result property="previousLoginIp" column="previous_login_ip" />
        <result property="failureTimes" column="failure_times" />
        <result property="admin" column="admin" />
        <result property="enabled" column="is_enabled" />
        <result property="lock" column="is_lock" />
        <result property="deleted" column="is_deleted" />
        <result property="createUser" column="create_user" />
        <result property="createDate" column="create_date" />
        <result property="updateUser" column="update_user" />
        <result property="updateDate" column="update_date" />
    </resultMap>

    <!-- 获取列表 -->
    <select id="listEntitiesForPageListByEntity" parameterType="UserVO" resultMap="userResult">
        select <include refid="sql_com"/> from sys_user
        <where>
            is_deleted = 0
            <if test="nickName != null and nickName != ''">
                and nick_name like #{nickName} '%'
            </if>
            <if test="userName != null and userName != ''">
                and user_name like #{userName} '%'
            </if>
        </where>
    </select>

    <!-- 新增 -->
    <insert id="saveEntity" parameterType="User">
       insert into sys_user(<include refid="sql_com"/>) values(
        #{id},#{nickName},#{userName} ,#{password} ,#{phone} ,#{birthDay} ,#{email} ,#{headerUrl} ,#{lastLoginTime} ,#{lastLoginIp} ,
        #{previousLoginTime} ,#{previousLoginIp} ,#{failureTimes} ,#{admin} ,#{enabled} ,#{lock},#{deleted} ,#{createUser} ,#{createDate}
        ,#{updateUser} ,#{updateDate} )
    </insert>

    <!-- 修改 -->
    <update id="updateEntity" parameterType="User">
        update sys_user
        set id = #{id}
        <if test="createUser != null and createUser != ''">
           , create_user = 'ykb'
        </if>
        <if test="userName != null and userName != ''">
                , user_name = #{userName}
            </if>
            <if test="password != null and password != ''">
                , password = #{password}
            </if>
            <if test="nickName != null and nickName != ''">
                , nick_name = #{nickName}
            </if>
            <if test="phone != null and phone != ''">
                , phone = #{phone}
            </if>
            <if test="birthDay != null and birthDay != ''">
                , birth_day = #{birthDay}
            </if>
            <if test="email != null and email != ''">
                , email = #{email}
            </if>
            <if test="headerUrl != null and headerUrl != ''">
                , header_url = #{headerUrl}
            </if>
            <if test="lastLoginTime != null ">
                , last_login_time = #{lastLoginTime}
            </if>
            <if test="lastLoginIp != null and lastLoginIp != ''">
                , last_login_ip = #{lastLoginIp}
            </if>
            <if test="previousLoginTime != null">
                , previous_login_time = #{previousLoginTime}
            </if>
            <if test="previousLoginIp != null and previousLoginIp != ''">
                , previous_login_ip = #{previousLoginIp}
            </if>
            <if test="failureTimes != null">
                ,  failure_times = #{failureTimes}
            </if>
            <if test="admin != null">
                , admin = #{admin}
            </if>
            <if test="enabled != null">
                , is_enabled = #{enabled}
            </if>
            <if test="lock != null">
                ,  is_lock = #{lock}
            </if>
            <if test="deleted != null">
                , is_deleted = #{deleted}
            </if>
            <if test="updateUser != null and updateUser != ''">
                , update_user = #{updateUser}
            </if>
            <if test="updateDate != null">
                , update_date = #{updateDate}
            </if>
        where id = #{id}
    </update>

    <!-- 修改用户序锁定状态 -->
    <update id="updateUserStatusByLock" parameterType="User">
        update sys_user set is_lock = #{lock} where id = #{id}
    </update>

    <!-- 修改用户启用/禁用状态 -->
    <update id="updateUserStatusByShutDown" parameterType="user">
        update sys_user set is_enabled = #{enabled}  where id = #{id}
    </update>

    <!-- 修改用户密码 -->
    <update id="updateUserByPassword">
        update sys_user set password = #{password}  where id = #{id}
    </update>

    <!-- 根据id获取用户信息 -->
    <select id="getSimpleUserById" resultMap="userResult">
        select <include refid="sql_com" /> from sys_user where id = #{id} and is_deleted = 0
    </select>
    <select id="getFullUserById" resultType="User">

    </select>
    <!-- 根据用户名获取用户 -->
    <select id="getSimpleUserByUserName" parameterType="java.lang.String" resultMap="userResult">
        select <include refid="sql_com" /> from sys_user where user_name = #{userName} and is_deleted = 0
    </select>

    <!--批量删除用户-->
    <update id="deleteEntitiesByIds">
        update sys_user
        set is_deleted = 1
        where id in
        <foreach collection="ids" item="item"  open="(" close=")" separator=",">
            #{item}
        </foreach>
    </update>
</mapper>